body {
  color: black;
}

form {
  font-family: sans-serif;
  }

#login_title {
  padding-bottom: 100px;
}

.login {
  padding-top: 120px;
}

#drchrono {
  color: green;
}

.btn, .btn:hover{
  background-color: green;
}


.appointment {
  background-color: #6E6E6E;
}

#login_header {
  padding-bottom: 50px;
}