{% extends 'addpatient/layout.html' %}

{% block content %}

<center>
<h4>Select An Open Appointment With: </h4>
</center>


      {% for key, value in office_info.items %}
        <div class='container'>
          <center>
            {{ value }}
          </center>
        </div>
      {% endfor %}

      {% for timeslot in appointments %}
        <div class='row'>
          <div class='col s12 m4'>
            <div class='card appointment lighten-1'>
              <div class='card-content white-text'>
                <form action={% url 'date_selection' %} method="post">
                  {% csrf_token %}
                  <input type='hidden' name='doctor_id' value='102394'>
                  <input type='hidden' name='office_id' value='109142'>
                  <input type='hidden' name='start_time' value='{{ timeslot }}'>
                  <input type='hidden' name='end_time' value='{{ e }}'>
                  {% for times in timeslot %}
                    <p>{{ times }}</p>
                  {% endfor %}


                  <input class='waves-light btn' type='submit' value='Schedule Appointment'/>
                </form>
              </div>
            </div>
          </div>
      {% endfor %}


{% endblock %}