{% extends 'addpatient/layout.html' %}

{% block content %}

<center>
<h4>Select An Open Appointment </h4>
</center>



      <div class='row'>
        <div class='card col s6 m4'>


        <p>{{ office_info.name }}</p>
        <p>{{ office_info.address }}</p>
        <p> {{office_info.city}} </p>
        <p> {{office_info.state}} </p>
        <p> {{office_info.zip_code}} </p>


        </div>
      </div>

      {% for timeslot in appointments %}
        <div class='row'>
          <div class='col s12 m4'>
            <div class='card appointment lighten-1'>
              <div class='card-content white-text'>
                <form action={% url 'date_selection' %} method="post">
                  {% csrf_token %}
                  {% for times in timeslot %}
                  <input type='hidden' name='doctor_id' value='102394'>
                  <input type='hidden' name='office_id' value='109142'>
                  <input type='hidden' name='start_time' value='{{ timeslot }}'>
                  <input type='hidden' name='end_time' value='{{ e }}'>
                    <p>{{ times }} AM</p>
                  {% endfor %}


                  <input class='waves-light btn' type='submit' value='Schedule Appointment'/>
                </form>
              </div>
            </div>
          </div>
      {% endfor %}


{% endblock %}