<!DOCTYPE html>
<html lang="en">

<head>
  <title>drchrono</title>
  <meta charset="utf-8" />
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'addpatient/css/materialize.css' %}" type = "text/css"/>
  <link rel="stylesheet" type="text/css" href="{% static 'addpatient/css/app.css' %}"/>
  <script type="text/javascript" src="{% static 'addpatient/js/jquery-3.0.0.min.js' %}"></script>
  <script type='text/javascript' src="{% static 'addpatient/js/app.js' %}" ></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>

<body class="body" style="background-color:#f6f6f6">
  <div class="container-fluid" style="min-height:95%; ">
    <div class="row">
        <div class="col-sm-10">
          <h3 id='drchrono'>drchrono</h3>
          <center>
            <h4>Appointments</h3>
          </center>
        </div>
    </div><hr>



      <div class='container-fluid'>
      <br><br>
         {% block content %}
         {% endblock %}
      </div>
      </div>
    </div>


</body>

</html>